    <!-- People Section -->
    <section id="equipment" class="content-section text-center">
        <div class="equipment-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Equipment</h2>
                    <p>The main equipment in PIC is a <a href=https://www.bruker.com/products/fluorescence-microscopes/ultima-multiphoton-microscopy/ultima-investigator/overview.html> Bruker Ultima</a>multiphoton microscope equipped with <a href=https://www.spectra-physics.com/products/ultrafast-lasers/insight-x3> Insight X3</a> broadly tunable ultrafast laser system. A XXX nm and XXX nm laser lines and a 631 nm LED are coupled to the microscope making possible to conduct simultaneous imaging and photostimulation experiments.</p>
                </div>
            </div>
        </div>
    </section>