    <!-- People Section -->
    <section id="equipment" class="content-section text-center">
        <div class="equipment-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Equipment</h2>
                    <p>The main equipment in PIC is a <a href=https://www.bruker.com/products/fluorescence-microscopes/ultima-multiphoton-microscopy/ultima-investigator/overview.html> Bruker Ultima</a> <i>in vivo</i> multiphoton microscope equipped with an<a href=https://www.spectra-physics.com/products/ultrafast-lasers/insight-x3> Insight X3</a> broadly tunable, ultrafast laser system. In addition to the multiphoton laser, a 473 nm and 561 nm continous wave laser lines and a high power 631 nm LED are also coupled to the microscope making possible to conduct simultaneous imaging and photostimulation experiments using wide range of inhibitory and excitatory photosensitive opsins.</p><p>High speed volumetric scannig is also possible up to 400 um wiht a Z-axis piezo drive</p>
                </div>
            </div>
        </div>
    </section>