    <!-- People Section -->
    <section id="equipment" class="content-section text-center">
        <div class="equipment-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Equipment</h2>                    
                    <a href="#pic" class="btn btn-default btn-lg">PIC</a>
                    <a href="#prolab" class="btn btn-default btn-lg">ProLab</a>
                </div>
            </div>
        </div>
    </section>