<!-- About Section -->
<section id="news" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>News</h2>
            <p>May, 2023 <br> Preprint Alert! We deposited a preprint about an infralsow osciallation in the dentate
                gyrus. See the
                details <a href="https://www.biorxiv.org/content/10.1101/2023.05.12.540575v1.full" target="_blank"
                    rel="noopener noreferrer">here</a>.</p>
            <p>HallPass is now available on <a
                    href="https://app.jove.com/v/64863/an-open-source-virtual-reality-system-for-the-measurement-of-spatial-learning-in-head-restrained-mice"
                    target="_blank" rel="noopener noreferrer">JOVE</a>!</p>
            <p>December, 2022 <br> <a href="https://github.com/GergelyTuri/HallPassVR" target="_blank"
                    rel="noopener noreferrer">HallPass</a>, our open source, Raspberry Pi-based virtual
                reality system for mice is apporved for
                publication. Congrats for the team!</p>
        </div>
    </div>
</section>