<!-- About Section -->
<section id="news" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>News</h2>
            <p>August, 2023<br> Welcome Yuecheng Shi, our new Research Assistant!</p>
            <p>July, 2023<br> Congrats for Emma and Stephanie for graduating from SRI and SURF!</p>
            <p>June, 2023 <br>Big Congrtas to Carla for getting into Cornell Med! <br>Congrats to Stephanie and Emma for
                getting into Columbia's <a href="https://biology.columbia.edu/content/surf-participants-2023"
                    traget="_blank" rel="noopener noreferrer">SURF</a>
                and Barnard's <a href="https://barnard.edu/sri/2023-program-details-calendar" traget="_blank"
                    rel="noopener noreferrer">SRI</a> programs!</p>
            <p>May, 2023 <br> Preprint Alert! We deposited a preprint about our latest finding related to sleep,
                infraslow
                osciallation, serotonin dynamics and calcium acivity in the dentate
                gyrus. See the
                details <a href="https://www.biorxiv.org/content/10.1101/2023.05.12.540575v1.full" target="_blank"
                    rel="noopener noreferrer">here</a> and a Twitter thread <a
                    href="https://twitter.com/gergelyturi1/status/1658526927098118144" target="_blank"
                    rel="noopener noreferrer">here.</a></p>
            <p>HallPass is now available on <a
                    href="https://app.jove.com/v/64863/an-open-source-virtual-reality-system-for-the-measurement-of-spatial-learning-in-head-restrained-mice"
                    target="_blank" rel="noopener noreferrer">JOVE</a>!</p>
            <p>December, 2022 <br> <a href="https://github.com/GergelyTuri/HallPassVR" target="_blank"
                    rel="noopener noreferrer">HallPass</a>, our open source, Raspberry Pi-based virtual
                reality system for mice is apporved for
                publication. Congrats for the team!</p>
        </div>
    </div>
</section>