    <!-- People Section -->
    <section id="people" class="content-section text-center">
        <div class="people-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>people</h2>
                    <p>The facility is ran by:</p>
                    <a href="./people/aboutGergely.html" class="btn btn-default btn-lg">Gerely Turi</a>
                    <a href="./testpage.md" class="btn btn-default btn-lg">Clay Lacefield</a>
                </div>
            </div>
        </div>
    </section>