<section id="curr_members" class="content-section text-center">
    <div class="people-section">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Current Trainees</h3>
            <br>
            <a href="{{ '/pages/aboutAnna/' | relative_url }}" class="btn btn-default btn-lg">Anna Treat</a>
            <a href="{{ '/pages/aboutNovak/' | relative_url }}" class="btn btn-default btn-lg">Novak Chen</a>
        </div>
    </div>
</section>
<section id="past_members" class="content-section text-center">
    <div class="people-section">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Past Trainees</h3>
            <br>
            <a href="{{ '/pages/aboutRuojun/' | relative_url }}" class="btn btn-default btn-lg">Ruojun Li</a>
            <a href="{{ '/pages/aboutYuecheng/' | relative_url }}" class="btn btn-default btn-lg">Yuecheng Shi</a>
            <a href="{{ '/pages/aboutStephanie/' | relative_url }}" class="btn btn-default btn-lg">Stephanie Lee</a>
            <a href="{{ '/pages/aboutColin/' | relative_url }}" class="btn btn-default btn-lg">Colin Payne-Rogers</a>
            <a href="{{ '/pages/aboutAustin/' | relative_url }}" class="btn btn-default btn-lg">Austin Schaefer</a>
            <a href="{{ '/pages/aboutEmma/' | relative_url }}" class="btn btn-default btn-lg">Emma Ference</a>
            <a href="{{ '/pages/aboutHayley/' | relative_url }}" class="btn btn-default btn-lg">Hayley Judice</a>
            <a href="{{ '/pages/aboutIsla/' | relative_url }}" class="btn btn-default btn-lg">Isla Weber</a>
            <a href="{{ '/pages/aboutCarla/' | relative_url }}" class="btn btn-default btn-lg">Carla Dias</a>
            <a href="{{ '/pages/aboutBinny/' | relative_url }}" class="btn btn-default btn-lg">Binny Naik</a>
            <a href="{{ '/pages/aboutChris/' | relative_url }}" class="btn btn-default btn-lg">Tingyi Lu</a>
            <a href="{{ '/pages/aboutNikki/' | relative_url }}" class="btn btn-default btn-lg">Nicola Sheybani</a>
            <a href="{{ '/pages/aboutPallavi/' | relative_url }}" class="btn btn-default btn-lg">Pallavi Pareek</a>
            <a href="{{ '/pages/aboutRehnuma/' | relative_url }}" class="btn btn-default btn-lg">Rehnuma Khan</a>
            <a href="{{ '/pages/aboutRobina/' | relative_url }}" class="btn btn-default btn-lg">Robina Afzal</a>
            <a href="{{ '/pages/aboutZvi/' | relative_url }}" class="btn btn-default btn-lg">Zvi S Goldstein</a>
            <a href="{{ '/pages/aboutHongtao/' | relative_url }}" class="btn btn-default btn-lg">Hongtao Cai</a>
            <a href="{{ '/pages/aboutAngelica/' | relative_url }}" class="btn btn-default btn-lg">Angelica Prastiti</a>
            <a href="{{ '/pages/aboutChinaza/' | relative_url }}" class="btn btn-default btn-lg">Chinaza Onwukanjo</a>
            <a href="{{ '/pages/aboutHuong/' | relative_url }}" class="btn btn-default btn-lg">Huong Ho</a>
            <a href="{{ '/pages/aboutTrang/' | relative_url }}" class="btn btn-default btn-lg">Trang Phan</a>
            <a href="{{ '/pages/aboutMatt/' | relative_url }}" class="btn btn-default btn-lg">Matt Garrett</a>
        </div>
    </div>
</section>
