    <!-- People Section -->
    <section id="people" class="content-section text-center">
        <div class="people-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>people</h2>
                    <h3>PIC is run by:</h3>
                    <a href="./pages/aboutGergely.html" class="btn btn-default btn-lg">Gergely Turi</a>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <section id="curr_members" class="content-section text-center">
        <div class="people-section">
            <div class="col-lg-8 col-lg-offset-2">   
                <h3>Current members</h3>
                <br>
                <a href="./pages/aboutIsla.html" class="btn btn-default btn-lg">Isla Weber</a>
                <a href="./pages/aboutStephanie.html" class="btn btn-default btn-lg">Stephanie Lee</a>
                <a href="./pages/aboutTrang.html" class="btn btn-default btn-lg">Trang Phan</a>
                <a href="./pages/aboutCarla.html" class="btn btn-default btn-lg">Carla Dias</a>                
            </div>
        </div>
    </section>
    <section id="past_members" class="content-section text-center">
        <div class="people-section">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Past members</h3> 
                <br>
                <a href="./pages/aboutChris.html" class="btn btn-default btn-lg">Tingyi Lu</a>          
                <a href="./pages/aboutNikki.html" class="btn btn-default btn-lg">Nicola Sheybani</a>
                <a href="" class="btn btn-default btn-lg">Pallavi Pareek</a>
                <a href="./pages/aboutRehnuma.html" class="btn btn-default btn-lg">Rehnuma Khan</a>
                <a href="./pages/aboutRobina.html" class="btn btn-default btn-lg">Robina Afzal</a>
                <a href="" class="btn btn-default btn-lg">Colin Payne-Rogers</a>
                <a href="./pages/aboutZvi.html" class="btn btn-default btn-lg">Zvi S Goldstein</a>
                <a href="./pages/aboutHongtao.html" class="btn btn-default btn-lg">Hongtao Cai</a>                
                <a href="./pages/aboutAngelica.html" class="btn btn-default btn-lg">Angelica Prastiti</a>
                <a href="./pages/aboutChinaza.html" class="btn btn-default btn-lg">Chinaza Onwukanjo</a>
                <a href="./pages/aboutHuong.html" class="btn btn-default btn-lg">Huong Ho</a>
        </div>
    </div>
    </section>