    <!-- Positions Section -->
    <section id="positions" class="content-section text-center">
        <div class="people-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Positions</h2>
                    <h3><p>PIC</p></h3><p>Talented and highly motivated individuals with strong background in data science/math/statistics should directly contact <a href="mailto:{{ site.email }}">Gergely Turi.</a></p>
                    <p><h3>ProLab</h3></p>
                    <p>Individuals with electrical engeneering or design should reach out for <a href="mailto:col8@columbia.edu">Clay Lacefield.</a></p>                   
                </div>
            </div>
        </div>
    </section>