<!-- Opportunities Section -->
<section id="positions" class="content-section text-center">
    <div class="people-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Opportunities</h2>
                <p>Motivated individuals with strong background in data science/math/statistics or background in
                    electrical engineering or design should directly contact <a href="mailto:{{ site.email }}">Gergely
                        Turi.</a></p>
            </div>
        </div>
    </div>
</section>
