    <!-- People Section -->
    <section id="prolab" class="content-section text-center">
        <div class="equipment-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Equipment</h2>
                    <p>ProLab has several tools which are needed for rapid prototyping including: SLA and FDM printers and laser cutter. We can provide help for using the appropriate CAD software to make your own design. We have a machine shop equipped with basic tools for building and finazing of your product.</p> 
                </div>
            </div>
        </div>
    </section>